@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --white-cream: #E5E8EE;
    --blue-light: #5BC0EB ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.content {
    max-width: 950px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-cards {
    display: flex;
    gap: 50px;
    margin: -65px 0 0;
    justify-content: space-between;
}

.box-input {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    background-color: var(--white-cream);
    border-radius: 10px ;
}

.box-input .container-input label {
    font-size: 18px;
    margin-right: 5px;
    font-family: 'Inter';
    font-weight: 600;
}

.box-input .container-input:nth-of-type(1) {
    width: 40%;
} 

.box-input .container-input:nth-of-type(2) {

    width: 20%;
}

.box-input #valor {
    font-size: 16px;
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    width: 100px;
}

.box-input #titulo {
    width: 60%;
    font-size: 16px;
    border: 0;
    border-radius: 2px;
    padding: 2px 10px;
    outline: none;
    text-decoration: none;
}


.toggle-wrapper {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.switch > .hidden-toggle {
  display: none;
}

.switch > .slider {
  background: #4EC94E;
  border: 0.1rem solid #a9f2fd;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 300ms ease-in-out;
  width: 7rem;
  height: 2rem;
  position: relative;
}

.switch > .slider > .button{
  content: "";
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  background: #ffffff;
  top: 0.4rem;
  left: 0.4rem;
  transition: all 300ms ease-in-out;
  border-radius: 50%;
  z-index: 2;
}

.switch > .slider:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  font-size: 1rem;
  line-height: 1.4rem;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  transition: all 300ms ease-in-out;
  content: "Entrada";
}

.switch > .hidden-toggle:checked ~ .slider {
  background: #FF0000;
}

.switch > .hidden-toggle:checked ~ .slider > .button {
  left: 5rem;
  background: #fff;
}

.switch > .hidden-toggle:checked ~ .slider:after {
  right: 3rem;
  color: #f1f1ff;
  content: "Saida";
}


.box-input .submit  {
    width: 10%
}

.box-input .submit button {
    padding: 8px 20px;
    background-color: var(--blue-light);
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.box-input .submit button:active {
    transform: scale(0.9);
}

.box-input .submit button:disabled {
    background-color: #bbb;

}


.box-history {
    background: var(--white-cream) ;
    border-radius: 5px;
    padding: 10px 20px 0;
    margin-bottom: 20px;
}

.box-history table {
    width: 100%;
    text-align: center;
}

.box-history table .desc {
    width: 50%;
    font-size: 20px;
    padding: 10px 0;
    background-color: var(--blue-light);
    color: #fff;
    border-radius: 5px;
}

.box-history table .tipo {
    width: 25%;
    font-size: 20px;
    padding: 10px 0;
    background-color: var(--blue-light);
    color: #fff;
    border-radius: 5px;
}

.box-history table .val {
    font-size: 20px;
    padding: 10px 0;
    background-color: var(--blue-light);
    color: #fff;
    border-radius: 5px;
}

.box-history table td {
    padding: 10px 0;
    font-weight: bold;
}

.td-data-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% ;

}

.span-titulo {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-remove {
    padding: 5px 30px;
    background-color: #FF0000;
    color: #fff;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
    text-align: center;
}


.button-remove:hover {
    transform: scale(1.08);
    transition: .3s;
}

.box-history table .tipo-entrada{color: #4EC94E}
.box-history table .tipo-saida{color: #ff0000}

.empty-box {
    display: flex;
    flex-direction: column;
}

.empty-box h3 {
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    background-color: #5BC0EB;
    width: fit-content;
    margin: -30px auto 20px;
}

.empty-box img {
    margin-top: -30px;
}



@media screen and (max-width: 960px) {
    .box-input {
        width: 90%;
    }
    .box-history  {
        width: 90% !important;
        margin: 0 auto 50px;
    }

    .box-input .container-input:nth-of-type(2) {
        width: 30%;
    }
}

@media screen and (max-width: 920px) {
    .box-cards {
        display: flex;
        gap: 20px;
        margin: -40px 0 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 790px) {
    .box-input  {
        flex-wrap: wrap;
    }

    .item-input {
        flex-basis: calc(100% / 3);
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) { 

    .item-input {
        width: 100%;
        justify-content: center;
        flex-basis: calc(100% / 1);
        margin: 10px auto;
        text-align: center;
    }

    .box-input .submit button {
        width: 100% !important;
    }

    .box-input #valor {
        width: 30%;
    }

    .box-input #titulo  {
        width: 70%;
    }

    .box-history table .tipo, .box-history table .val, .box-history table .desc {
        font-size: 18px;
    }

    .box-history table td {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

    .box-history table .tipo, .box-history table .val, .box-history table .desc {
        font-size: 16px;
    }

    .box-history table td {
        font-size: 13px;
    }
}