.card {
    display: inline-flex;
    gap: 40px;
    flex-direction: column;
    background-color: #e5e8ee;
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.card:hover .title i {
    color: #5BC0EB;
}

.card:active {
    transform: scale(1.1);
}

.card .title {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #000;
    padding: 0 30px;
    margin: 0 auto;
}

.card .title h2 {
    font-size: 22px;
    font-weight: 400;
}

.card .title i {
    font-size: 28px;
    transition: .2s;
}

.card .values {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    overflow: hidden;
}

#entradas span{color: #4ec94e;}
#saidas span{color: #ff0000;}
#entradas:hover i {color: #4ec94e;;}
#saidas:hover i{color: #ff0000;}


@media screen and (max-width: 920px) {
    .card {
        width: 30%;
    }
}

@media screen and (max-width: 860px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 600px) { 
    .card {
        width: 60%;
        text-align: center;
        gap: 20px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 410px) {
    .card {
        width: 80%;
    }
}


